<div>
  <h1>Add a New Question</h1>
  <form>
    <div class='form-group'>
      <label for="author">Enter Your Name: </label>
      {{input value=author id="author"}}
    </div>

    <div class='form-group'>
      <label for="userQuestion">Enter Your Question: </label>
      {{textarea value=userQuestion id="userQuestion"}}
    </div>

    <div class='form-group'>
      <label for="notes">Enter Additional Notes: </label>
      {{textarea value=notes id="notes"}}
    </div>
    <button {{action 'makeNewQuestion'}}>Add Question</button>
  </form>
</div>
