<div class="well col-sm-6">
  {{#link-to 'questions' question.id class="menu-link"}}<h3><strong>{{question.userQuestion}}</strong></h3>{{/link-to}}
  <h4><em>Asked By: {{question.author}} on {{question.time}}</em></h4>
</div>
