<div class="row panel">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    {{#link-to 'questions' question.id}}<h4><strong>{{question.question}}</strong></h4>{{/link-to}}
    <h6><em>{{question.author}}</em></h6>
  </div>
  <div class="col-sm-3"></div>
</div>
