@import "ember-side-menu";

#hamburger {
  font-size: 3em;
  color: #5F5268;
}

body {
  color: black;
}

header {
  background-color: #EAEAEA;
  padding: 25px;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin-right: -15%;
  margin-left: -12%;
}

.well {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#backg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

#backg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
