@import "ember-side-menu";

#hamburger {
  font-size: 3em;
  color: #5F5268;
}

body {
  color: #38313C;
  font-family: 'Molengo', sans-serif;
}

h1{
  font-family: 'Josefin Slab', serif;
  font-size: 4em;
}

#and {
  font-family: 'Abril Fatface', cursive;
  font-size: 75px;
}

header {
  background-color: #EAEAEA;
  padding: 25px;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin-right: -15%;
  margin-left: -12%;
}

#menu {
  background-color: #D6D4D7;
}

.menu-link {
  color: #54475D;
}

.well {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#backg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

#backg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
