<div id="backg">
  <img src="/images/owl.jpeg">
</div>
<div class="container">
  <header>
    <div class="top-bar">
    {{#side-menu-toggle}}
    {{t-menu a="butterfly" is-open=false id="hamburger"}}
      {{#side-menu width="25%" id="menu" side="right"}}
        <ul class="nav-list">
            {{#link-to "index" class="menu-link"}}
            <span class="glyphicon glyphicon-home"></span>
              Homepage
            {{/link-to}}
            <br>
            {{#link-to 'new-question' class="menu-link"}}
            <span class="glyphicon glyphicon-pencil"></span>
              New Question
            {{/link-to}}
            <br>
            {{#link-to 'following-questions' class="menu-link"}}
              Followed Questions
            {{/link-to}}
        </ul>
      {{/side-menu}}
    {{/side-menu-toggle}}
    </div>
    {{#link-to 'index'}}<h1 class="menu-link">Questions <span id="and">&amp;</span> Answers Forum</h1>{{/link-to}}
    <p>By: Elysia Avery Nason</p>
  </header>
</div>

<div class="container">
  {{content-backdrop}}
    {{outlet}}
  <footer>

  </footer>
</div>
